@import "libs/reset";
@import "../fonts/scss/fontawesome";
@import "../fonts/scss/solid";

//imports subsite
@import "add_schedule";
@import "schedules";
@import "add_recipe";
@import "recipes";

body{    
    font-weight: 400;
}

.header{
    .logo{
        color: #4a4a49;
        font-family: 'Charmonman', cursive;
        padding: 25px;
        font-weight: 400;
        font-size: 24px;
    }
    width: 100vw;
    height: 80px;
    background: #4a4a49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    >.user-info{
        display: flex;
        width: 100px;
        align-items: center;
        margin-right: 120px;
        >.user_name{
            margin-right: 20px;
            color: #FFFFFA;
            
        }
        >.far{
            color: #F60;
            font-size: 40px;
        }
    }
}
.hero{
    display: flex;

    >.nav{
        font-size: 20px;
        font-weight: 400;
        width: 234px;
        background: #5B605F;
        height: calc(100vh - 80px);
    }
    .nav_view{
        padding: 25px 25px;
        // position: relative;
        >a{
            text-decoration: none;
            color: #FFFFFA;
            position: relative;
            &:hover{
                &::after{
                    @extend %fa-icon;
                    @extend .fas;
                    content: fa-content($fa-var-chevron-right);
                    position: absolute;
                    left: 140px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #F60;
                    font-size: 18px;
                }
            }
        }
        
    }

    //left border for current subpage
    .nav_home{
        border-left: 5px solid #F60;
        padding-left: 20px;
    }

    >.container{
        background: url('../images/image.png');
        flex-basis: 100%;
    }
}

// Content //

.container{
    .content{
        background: #FFFFFA;
        border: 1px dashed darkgray;
        margin: 35px 80px;
        height: calc(100% - 80px);
        width: calc(100% - 120px);
        text-align: center;
        font-size: 24px;
        color: #5B605F;
        font-weight: 600;
        .message_header{
            margin-top: 70px;
            font-size: 36px;
        }
        .message_text{
            margin: 10px;
        }
        .message_form{
            
            .form__input{
                width: 280px;
                height: 30px;
                padding: 0 10px;
                margin: 10px;
                font-size: 1rem;
            }
            .form__btn{
                font-size: 24px;
                color: #FFFFFA;
                background-color: #F60;
                width: 126px;
                height: 38px;
                font-size: 20px;
                padding: 6px 10px;
                border: none;
                margin: 10px;
            }
        }
        .message_tip{
            font-size: 20px;
            margin: 10px;
            font-weight: 600;
        }
    }
}


