@import "libs/reset";
@import "../fonts/scss/fontawesome";
@import "../fonts/scss/solid";

body {
    font-weight: 400;
}

.header {
    .logo {
        color: #4a4a49;
        font-family: 'Charmonman', cursive;
        padding: 25px;
        font-weight: 400;
        font-size: 24px;
    }

    width: 100vw;
    height: 80px;
    background: #4a4a49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;

    >.user-info {
        display: flex;
        width: 100px;
        align-items: center;
        margin-right: 120px;

        >.user_name {
            margin-right: 20px;
            color: #FFFFFA;

        }

        >.far {
            color: #F60;
            font-size: 40px;
        }
    }
}

.hero {
    display: flex;

    >.nav {
        font-size: 20px;
        font-weight: 400;
        width: 234px;
        background: #5B605F;
        height: calc(100vh - 80px);
    }

    .nav_view {
        padding: 25px 25px;

        // position: relative;
        >a {
            text-decoration: none;
            color: #FFFFFA;
            position: relative;

            &:hover {
                &::after {
                    @extend %fa-icon;
                    @extend .fas;
                    content: fa-content($fa-var-chevron-right);
                    position: absolute;
                    left: 160px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #F60;
                    font-size: 18px;
                }
            }
        }

    }

    //left border for current subpage
    .nav_home {
        border-left: 5px solid #F60;
        padding-left: 20px;
    }

    >.content {
        background: url('../images/image.png');
        width: calc(100vw - 80px);
        height: calc(100vh - 80px);
    }
}

// Content //

.content {
    .message {
        background: #FFFFFA;
        border: 1px dashed darkgray;
        margin: 35px 80px;
        width: 1070px;
        height: 630px;
        text-align: center;
        font-size: 24px;
        color: #5B605F;
        font-weight: 600;

        .message_header {
            margin-top: 70px;
            font-size: 36px;
        }

        .message_text {
            margin: 10px;
        }

        .message_form {

            .form__input {
                width: 280px;
                height: 30px;
                padding: 0 10px;
                margin: 10px;
                font-size: 1rem;
            }

            .form__btn {
                font-size: 24px;
                color: #FFFFFA;
                background-color: #F60;
                width: 126px;
                height: 38px;
                font-size: 20px;
                padding: 6px 10px;
                border: none;
                margin: 10px;
            }
        }

        .message_tip {
            font-size: 20px;
            margin: 10px;
            font-weight: 600;
        }
    }
}



// Add. recipe. Style


.kontener {
    width: 1069px;
    height: 629px;
    // border: 1px dashed black;

    .first_line {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        align-items: center;
        margin: 25px auto 0;
        border-bottom: 1px solid black;
        width: 994px;



        p {
            font-size: 24px;
            color: darkorange;
            padding-top: 10px;
        }

        >button {
            font-size: 16px;
            background-color: darkorange;
            color: white;
            padding: 15px;
            height: 50px;
        }
    }

    .second_line {
        text-transform: uppercase;
        // margin: 25px auto 0;
        width: 90%;
        margin: 10px 40px;

        .forma {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex-flow: row;
            flex-wrap: wrap;

            p {
                font-size: 24px;
            }

            .text_form {
                display: inline-block;
                flex-basis: 70%;
                height: 3vh;
                margin-bottom: 10px;
            }

            .text_form:nth-of-type(2) {
                height: 5vh;
            }
        }
    }

    .gemini {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 40px;

        .oplot {
            width: 470px;
            border-bottom: 1px solid black;

            p {
                font-size: 24px;

            }
        }

        .foremka {
            display: flex;
            flex-direction: row;


            input {
                margin-top: 10px;
                flex-basis: 90%;
                height: 7vh;
            }

            .second {
                font-size: 15px;
                height: 4vh;
            }

            .square1,
            .square2 {
                border: none;
                font-size: 30px;
                color: rgb(70, 137, 102);
                margin: 9px 0 0 5px;


            }
        }

        .side {
            word-wrap: break-word;

            ol {
                margin-top: 40px;

                li {
                    line-height: 24px;
                }
            }

            ul {
                margin-top: 70px;

                li {
                    line-height: 24px;
                }
            }
        }
    }
}

.size {
    height: 200px;
    max-width: 470px;
    margin-left: 10px;
    // overflow: scroll;
}