// https://fontawesome.com/how-to-use/on-the-web/using-with/sass

//Header


body {
  background-color: #BADA55;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  font-size: 14px;
  font-family: 'open sans', sans-serif;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
}

header {
  background: #4a4a49;

  .header {
    display: flex;
  }

  .logo {
    color: #4a4a49;
    font-family: 'Charmonman', cursive;
    width: 25%;
    margin-left: -50px;
  }

  .menu {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      margin-left: 20px;
      color: white;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      justify-content: space-around;

      &:hover {
        color: #E58A20;
        cursor: pointer;
      }
    }
  }
}


//Features
.features {
  background-color: #EBEBEB;

  >.container {
    height: 622px;
    color: #4a4a49;
  }

  .feature {
    font-size: 24px;
    margin: 0 15px;
    text-align: center;
  }

  i {
    font-size: 3rem;
    color: #A1A194;
  }
}


//About me
.about-me {
  background-color: #EBEBEB;

  .about {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    justify-content: space-between;
    color: black;
  }

  .pic {
    width: 300px;
    height: 300px;
    background: #4a4a49;
    margin: 5% 0;
    box-sizing: border-box;
  }

  .text {
    align-items: center;
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    padding: 50px auto;
    margin: 50px auto;
  }
}

.karuzela {
  display: flex;
  align-items: center;


  .container {
    height: 500px;
    background-color: grey;
  }

  i {
    font-size: 40px;
    position: absolute;
  }

  &>i:first-child {
    left: 14px;
  }

  &>i:last-child {
    right: 14px;
  }

}

// Karuzela #1_2
.stopka {

  background: grey;
  font-size: 20px;

  .box {
    height: 300px;
  }


  >.container {
    background: grey;
    color: white;
    padding-top: 50px;

    .box_1 {

      width: 300px;

    }

    .box_2 {
      ul>li {

        margin-left: -20px
      }
    }

    .box_3 {

      form {
        display: flex;


        input {
          width: 200px;
          font-size: 25px;
        }

        button {
          background-color: darkorange;
          font-size: 20px;
          align-self: center;
          border: none;
          flex-direction: column;
          padding: 5px;
        }
      }

      i {
        font-size: 35px;
        color: white;
        margin: 30px 30px 0 0;
      }
    }
  }
}

.newsletter {
  background-color: #4A4A49;
  padding: 10px 0;

  .container {
    height: 150px;
  }

  h3 {
    font-size: 24px;
    color: white;
  }

  .glue {
    display: flex;
    height: 45px;
  }

  input {
    padding: 0 10px;
    width: 350px;
  }

  button {
    font-size: 24px;
    //padding: 10px 0;
    color: white;
    background-color: #FF6600;
    width: 165px;
  }

}

.cta {
  background: #4a4a49;
  color: #FFFFFA;

  .container {
    height: 250px;

    .cta_left {
      width: 66%;
      font-size: 24px;

      .left__header {
        font-size: 1.5em;
        font-weight: 400;
      }

      .left__text {
        font-weight: 400;
      }
    }

    .cta_right {
      .cta__btn {
        background: #FF6600;
        text-decoration: none;
        font-size: 20px;
        color: #FFFFFA;
        padding: 12px 30px;
      }
    }
  }

}


// Footer 

.footer {
  background-color: rgb(70, 70, 70);
  height: 70px;
  display: block;
  text-align: center;
  padding-top: 10px;

  p {
    font-size: 20px;


    span {
      color: darkorange
    }
  }
}